.section {
    width: 100%;
    padding: 80px 50px;
    display: flex;
    justify-content: center;
    background-color: #fff;
    flex-direction: column;
    align-items: center;
}

.headText {
    font-size: 18px;
    color: #666666;
    letter-spacing: 1px;
    margin-bottom: 70px;
    text-transform: uppercase;
    margin-left: auto;
    margin-right: auto;
}


.container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px;
}

.card {
    background-color: #F8F9FA; 
    border-radius: 16px;
    padding: 30px;
    cursor: pointer;
    
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.card:hover {
    transform: scale(1.05); 
    background-color: #E9ECEF; 
}

.title {
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 0px;
    color: #000;
    letter-spacing: -0.5px;
    margin: 0;
}

.description {
    font-size: 16px;
    color: #555;
    line-height: 1.5;
    margin-bottom: 0px;
}

@media (max-width: 1200px) {
    .container {
        grid-template-columns: repeat(2, 1fr); 
        gap: 20px;
    }
}

@media (max-width: 820px) {
    .container {
        grid-template-columns: 1fr; 
        gap: 20px;
    }
}

