.section {
    width: 100%;
    padding: 0px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    flex-direction: column;
}

.headText {
    font-size: 18px;
    color: #666666;
    letter-spacing: 1px;
    margin-bottom: 45px;
    text-transform: uppercase;
    margin-left: auto;
    margin-right: auto;
}

.gridContainer {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px;
}

.card {
    border-radius: 16px;
    padding: 30px;
    min-height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;

    
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.card:hover {
    transform: scale(1.05);
    background-color: var(--hover-color) !important;
}
.card:hover .title,
.card:hover .description,
.card:hover .linkText {
    color: #ffffff !important;
}

.content {
    margin-bottom: 20px;
}

.title {
    font-size: 40px;
    font-weight: 800;
    line-height: 1.1;
    margin-bottom: 16px;
    letter-spacing: -1px;
    margin: 0;
}

.description {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.6;
    margin-bottom: 0px;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.linkText {
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

.arrow {
    width: 20px;
    height: 20px;
    transition: transform 0.2s;
    opacity: 0.6;
}

.card:hover .arrow {
    transform: translateX(5px);
    opacity: 1;
    filter: brightness(0) invert(1);
}


@media (max-width: 1050px) {
    .gridContainer {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 800px) {
    .gridContainer {
        grid-template-columns: 1fr;
    }
    
    .card {
        min-height: auto;
    }
}