.footer {
    width: 100%;
    background-color: #ffffff;
    padding: 80px 50px 40px 50px;
    font-family: 'Inter', sans-serif;
    border-top: 1px solid #f0f0f0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.linksRow {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;
    margin-bottom: 80px;
}

.column {
    flex: 1; 
    min-width: 160px;
}

.heading {
    font-size: 13px;
    font-weight: 700;
    color: #666;
    margin-bottom: 24px;
    letter-spacing: 0.5px;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.listItem {
    margin-bottom: 12px;
}

.link {
    text-decoration: none;
    color: #333;
    font-size: 15px;
    transition: background-color 0.3s;
    border-radius: 5px;
    padding: 8px;
}

.link:hover {
    background-color: #d1d1d1;
}

.bottomBar {
    border-top: 1px solid #eee;
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.copyright {
    font-size: 14px;
    color: #333;
}




@media (max-width: 1200px) {
    .linksRow {
        display: grid;
        grid-template-columns: 1fr 1fr; 
    }


}

@media (max-width: 820px) {
    .linksRow {
        grid-template-columns: 1fr;
    }
}