.footer {
    width: 100%;
    background-color: #ffffff;
    padding: 80px 20px 40px 20px;
    font-family: 'Inter', sans-serif;
    border-top: 1px solid #f0f0f0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.linksRow {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;
    margin-bottom: 80px;
}

.column {
    flex: 1;
    min-width: 160px;
}

.heading {
    font-size: 13px;
    font-weight: 700;
    color: #666;
    margin-bottom: 24px;
    letter-spacing: 0.5px;
    margin-left: 8px;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.listItem {
    margin-bottom: 12px;
    box-sizing: border-box;

}

.link {
    color: #333;
    font-size: 15px;
    text-align: start;
    transition: background-color 0.3s;
    border-radius: 8px;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    position: relative;
    padding: 8px;
    transition: all 0.15s ease;
}

.link:hover {
    background-color: #ececec;
}

.bottomBar {
    border-top: 1px solid #eee;
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.copyright {
    font-size: 14px;
    color: #333;
}

.rightSection {
    display: flex;
    align-items: center;
    gap: 30px;
}

.langButton {
    background: transparent;
    border: none;
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    font-weight: 500;
    color: #333;
    cursor: pointer;
    transition: opacity 0.2s;
}

.langButton:hover {
    opacity: 0.7;
}

.iconSm {
    width: 18px;
    height: 18px;
}

.iconXs {
    width: 10px;
    height: 10px;
    margin-left: 2px;
}

.socialIcons {
    display: flex;
    align-items: center;
    gap: 15px;
}

.socialLink {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.2s;
}

.socialLink img {
    width: 20px;
    height: 20px;
    display: block;
}

.socialLink:hover {
    opacity: 0.6;
}

@media (max-width: 820px) {
    .linksRow {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .bottomBar {
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
    }
    
    .rightSection {
        flex-direction: column;
        gap: 20px;
    }
}

@media (max-width: 520px) {
    .linksRow {
        grid-template-columns: 1fr;
    }
}